# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea/
*.ipr
*.iml
*.iws
target/
*.jar
!.mvn/wrapper/*
.settings/
.project
.classpath
*.dat